html,body{ margin: 0;width: 100%; }
#left,#right{width: 250px;height: 250px; position: absolute;top:0;}
#left{left: 0;  }
#right{right: 0;  }
#center{margin:0 260px ;background-color: #fff; }


/* 内容区域 */
#bodyer{max-width: 1366px;margin: 0 auto;position: relative;}

/*#middle{width: 100%;background-color: #ff8800;  }*/

/* left Area */
#left{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 250px;
    background-color: #f6f6f6;
    z-index: 99;
    overflow-x: hidden;
    overflow-y: scroll;
}
#left .header-left{height: 120px;width: 250px;background-color: #cc0000;position: relative;left: 0;  }
#left .header-left .header-logo { max-width: 250px;max-height: 120px;}
#left .bodyer-left-menu{
    background-color: #333;
    width: 220px;
    padding: 10px 10px 10px 20px ;
    padding-bottom: 50px;

}
#left .bodyer-left-menu .catalog-link{  color: #ccc;font-size: 16px;display: inline-block;height: 28px;line-height: 28px;  }
#left .bodyer-left-menu .catalog-link:hover{  color: #fff;  }

/* middle Area */
#middle{}
#middle .header-main{ background-color: #dadada;width: 100%;height: 100%;float: left;}
#middle .header-main .main-content{ padding: 6px 260px;}
#middle .header-main-link {display: inline-block;font-size: 16px; color: #fff;padding: 4px 10px;margin: 0 5px 5px 0;}
#middle .header-main-link:hover{border-radius: 10px }

/* right Area */
#right .header-right{ height: 115px;width: 250px;background-color: #ff8800;position: absolute;right: 0;padding-top: 5px;}
#right .header-right .recommend-item{font-size: 16px;color: #fff;display: block;}
#right .header-right .recommend-item:hover{ text-decoration: none; background-color: rgba(255,255,255,0.2)}
#right .header-right .iconfont{font-size: 18px;}

#right .bodyer-right-link {  position: absolute;  width: 250px;background-color: #fff;  right: 0;  padding-top: 5px;  }
#right .bodyer-right-link .catalog-item-link{  color: #444;font-size: 16px;display: inline-block;height: 28px;line-height: 28px;  }
#right .bodyer-right-link .catalog-item-link:hover{  color: #fff;  }